<md-card *ngIf="spell">
  <md-card-title>{{spell.name}}</md-card-title>
  <md-card-subtitle>{{spell.type}}</md-card-subtitle>
  <md-card-content>
    Casting Time: <i>{{spell.casting_time}}</i><br>
    Range: <i>{{spell.range}}</i><br>
    Components: <i>{{spell.components}}</i><br>
    Duration: <i>{{spell.duration}}</i><br>
    Description:<br><br>
    <div  class="descriptionPanel" [innerHtml]="spell.primary_description"></div>
  </md-card-content>
  <md-card-actions>
    <button md-button>Save</button>
  </md-card-actions>
</md-card>