<div class="container-fluid">
  <br><br>
  <div class="row">
    <div class="col-md-5">

      <md-select [(ngModel)]="selectedClass" (ngModelChange)="changeClass()" style="width: 100%" placeholder="Class">
        <md-option *ngFor="let class of (classes | class)" [value]="class">{{class.name}}</md-option>
      </md-select>
    </div>
    <div class="col-md-5">
      <md-select style="width: 100%" [(ngModel)]="selectedLevel" (ngModelChange)="changeLevel()" placeholder="Level">
        <md-option *ngFor="let level of levels" [value]="level">{{level}}</md-option>

      </md-select>
    </div>
    <div class="col-md-2">
      <md-checkbox [(ngModel)]="upToChecked" (ngModelChange)="upTo()">Up To</md-checkbox>
    </div>
  </div>
  <p *ngIf="selectedClass">Selected class {{selectedClass.name}}</p>

  <div id="spellViewer" *ngIf="spellIds">
    <div class="row">
      <div class="col-lg-3 col-md-6" *ngFor="let spell of spellIds">
        <spell [spellId]="spell"></spell><br>
      </div>
    </div>
  </div>
</div>